---
layout: base
eleventyNavigation:
  key: Book-Rezervujte 
  order: 2
title: Book a Lesson
---
<h2>Book a Lesson - Rezervujte </h2>
<div class="bg-white rounded-4" style="padding-top: 20px;>
  <script type="text/javascript" src="https://bookio-services-eu.s3.eu-central-1.amazonaws.com/assets/widget.bookio.js"></script> <iframe id="bookio-iframe" src="https://services.bookio.com/dreambit/widget?lang=sk&hiddenHeader=true" width="100%" onload="initBookioWidget()" scrolling="no"></iframe>
</div>
