---
layout: base
eleventyNavigation:
  key: Lessons-Lekcie
  order: 1
---

<h2>English Lessons - Lekcie angličtiny</h2>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3" style="background-color: #BCD2E8">
      <h2>Standard English</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
      </p>
      <a href="{{ '../book' | url }}" class="btn btn-outline-dark">Book Now</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white border rounded-3" style="background-color: #528AAE">
      <h2>Štandardná angličtina</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <a href="{{ '../book' | url }}" class="btn btn-outline-light">Reservujte</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #91BAD6">
      <h2>Financial English</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <a href="{{ '../book' | url }}" class="btn btn-outline-dark">Book Now</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3 text-white " style="background-color: #3183b0">
      <h2>Finančná angličtina</h2>
      <p>
        Finished with developing your site with 11ty? Great! If you're interested in developing sustainable web sites as
        well, check out:
      </p>
      <a href="{{ '../book' | url }}" class="btn btn-outline-light">Reservujte</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color:#73A5C6 ">
      <h2>Interview Preparation</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <!-- Button trigger modal -->
      <a href="{{ '../book' | url }}" class="btn btn-outline-dark">Book Now</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white rounded-3" style="background-color: #05112B">
      <h2>Príprava na pohovor</h2>
      <p>
        Finished with developing your site with 11ty? Great! If you're interested in developing sustainable web sites as
        well, check out:
      </p>
      <a href="{{ '../book' | url }}" class="btn btn-outline-light">Reservujte</a>
    </div>
  </div>
</div>
