---
meta:
  lang: en
  title: DreamBit English Lessons
  image: "/assets/images/dreambit-logo-transparent.png"
  description: DreamBit offer exceptional English Lessons for all ages.
layout: base
eleventyNavigation:
  key: Home
---
<!-- <h2>Welcome to DreamBit</h2> -->

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white rounded-3" style="background-color: #26618C">
      <h2>English Lessons - Lekcie angličtiny</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
      </p>
      <a href="{{ 'pages/lessons' | url }}" class="btn btn-outline-light">Learn - Učte sa</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border text-white rounded-3" style="background-color: #3BB1D9">
      <h2>Book a Lesson - Rezervujte</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <a href="{{ 'pages/book ' | url }}" class="btn btn-outline-light">Book - Reservujte</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #91D1E1">
      <h2>CV Review - Prehľad životopisu</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <button type="button" class="btn btn-outline-dark" >
        Contact Us
      </button>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3" style="background-color: #CAD7DE">
      <h2>About - O nás</h2>
      <p>
        Finished with developing your site with 11ty? Great! If you're interested in developing sustainable web sites as
        well, check out:
      </p>
      <a href="{{ 'pages/about ' | url }}" class="btn btn-outline-dark">
        More - viac     
      </a>
    </div>
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
