---
meta:
  lang: en
  title: DreamBit English Lessons
  image: "/assets/images/dreambit-logo-transparent.png"
  description: DreamBit offer exceptional English Lessons for all ages.
layout: base
eleventyNavigation:
  key: Home
---


<div>
  <!-- <h2>Welcome to DreamBit</h2> -->
  <img class="rounded-3 w-100" src="/assets/images/jarka.png" alt="Welcome to DreamBit"/>
</div>
<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white rounded-3" style="background-color: #26618C">
      <h2>O nás</h2>
      <p>
        Som skúsená učiteľka angličtiny. 15 rokov som žila v Londýne, kde som študovala, a pracovala v londýnskom City ako finančná analytička v medzinárodných a úspešných korporátoch. Rok som žila aj v Amerike. Využívam praktické poznatky z môjho života v zahraničí a z biznis prostredia. Pomáham študentom zvládnuť angličtinu pre kariéru, aj každodenný život.
      </p>
      <a href="{{ 'mailto:jarka@dreambit.sk' | url }}" class="btn btn-outline-light">Kontaktujte nás</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border text-white rounded-3" style="background-color: #3BB1D9">
      <h2>Rezervácia</h2>
      <p>
        V prípade záujmu si môžete lekcie sami rezervovať až tri mesiace vopred. Zmenu a zrušenie termínu si robí študent sám cez tento systém (link v automatickom emaili). Zrušenie lekcie MIN 24h vopred, inak je administratívny poplatok za nedodržaný termín spoplatnený v plnej výške objednanej hodiny pri ďalšej návšteve. Platbu poprosím počas stretnutia alebo vopred. Cena sa odlišuje v prípade väčšieho počtu študentov, skupiny. Neváhajte ma kontaktovať, ak máte doplňujúce otázky ohľadne rezervácie/platby.
      </p>
      <a href="{{ 'pages/book ' | url }}" class="btn btn-outline-light">Rezervácia</a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #91D1E1">
      <h2>Bežná angličtina</h2>
      <p>
        Naučte sa so mnou základy angličtiny pre každodenný život! Moje lekcie sú jednoduché, zábavné a zamerané na praktické situácie – od nákupov až po cestovanie. Pomôžem vám získať sebavedomie v komunikácii. Pridajte sa a začnite rozumieť, rozprávať a užívať si angličtinu bez stresu!
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 rounded-3" style="background-color: #CAD7DE">
      <h2>Pracovná angličtina</h2>
      <p>
        Pripravte sa na úspech v práci s kurzami angličtiny zameranými na pracovné prostredie! Kvalitný životopis a príprava na pohovor sú základom úspechu. Naučíte sa ako sebavedome zvládnuť pracovný pohovor, komunikovať s kolegami, existujúcimi, či potenciálnymi klientmi, a aj ako riešiť rôzne pracovné situácie. Zdokonaľte svoje jazykové schopnosti a otvorte si dvere k novým kariérnym možnostiam, kontraktom, a aj kontaktom!
      </p>
    </div>
  </div>
  <div class="col h-100 m-3 rounded-3" style="background-color: #e6ecef">
    <h4 class="p-2 text-center">Reviews</h4>
    <p class="p-2 text-center">"Veľmi sme spokojní. Skvelé prostredie, fantastický individuálny prístup a úžasne sympatická žienka."</p>
    <p class="p-2 text-center">"Veľmi príjemná pani lektorka. Cítila som sa veľmi príjemne. Všetko dôkladne vysvetlila. Výborný prístup k študentom. Ďakujem"</p>
    <p class="p-2 text-center">"Excelentná spolupráca, maximálna spokojnosť 😊"</p>
    <p class="p-2 text-center">"Všetko je super, Jarka je príjemný človek. Stále pripravená a hodiny niesu vôbec nudne - úplne iné ako bežne kurzy. Odporúčam."</p>
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
